.error{
    display: none
}
.padding-bottom-15{
    padding-bottom: 15px !important;
}
.padding-top-15{
    padding-top: 15px !important;
}
.padding-left-0{
    padding-left: 0px !important;
}
.padding-left-7_5{
    padding-left: 7.5px !important;
}
.padding-right-0{
    padding-right: 0px !important;
}
.padding-right-7_5{
    padding-right: 7.5px !important;
}
.max-width-100px{
    max-width: 100px
}
.max-width-102px{
    max-width: 102px
}
.margin-bottom-0{
    margin-bottom: 0px !important;
}
.margin-top-0{
    margin-top: 0px !important;
}
textarea{
    resize: none
}
.vertical-center{
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.vertical-align-middle{
    vertical-align: middle !important
}
body {
    background-image: url('../img/background.jpg');
    background-repeat: repeat;
}
.inicio-oculto{
    display: none;
}
.button-personalizado {
    max-height: 30px !important;
    padding: 4px 12px !important;
}
.modal-header-personalizado {
    font-size: 16px !important; 
    text-align: center !important;
    font-weight: 700 !important;
}
.panel-title-personalizado {
    font-size: 14px !important;
}
.margin-0{
    margin: 0px 0px 0px 0px !important;
}
.float-right {
    float: right;
}